/* Root styles */
:root {
  --bg-primary: #182235;
  --bg-secondary: #302f65;
  --bg-standard: #000;
  --text-primary: #fff;
  --highlight-primary: #faf;
  --highlight-secondary: #f9f;
  --shard-primary: #494ca0;
  --shard-secondary: #292a47;
  --shard-tertiary: #4b3d8f;
}

[data-theme=sakura] {
  --bg-primary: #fff;
  --bg-secondary: #fdf;
  --bg-standard: #fff;
  --text-primary: #333;
  --highlight-primary: #faf;
  --shard-primary: #fcf;
  --shard-secondary: #caf;
  --shard-tertiary: #f8f;
}

::selection {
  background-color: #0af4;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight-primary);
}

/* Layout and typography */
html {
  font-family: nunito, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

.footer {
  border-top: var(--highlight-primary) 1px solid;
  margin-top: 60px;
  padding: 30px 20px;
}

.flex-smart {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .flex-smart {
    flex-direction: row;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* CSS Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bg-fade-in-up {
  0% {
    background-position-y: 100px;
  }
  100% {
    background-position-y: 0;
  }
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
/* CSS tooltips for :hover */
[data-tt] {
  position: relative;
  /* Positioning and visibility */
  /* Dynamic-width tooltip */
}
[data-tt]:before {
  border: var(--highlight-primary) 1px solid;
  position: absolute;
  bottom: calc(100% + 5px);
  top: auto;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.15s;
  will-change: transform;
}
[data-tt]:before {
  background-color: var(--bg-standard);
  color: var(--text-primary);
  content: attr(data-tt);
  padding: 8px 12px;
  line-height: 18px;
  height: 18px;
  width: max-content;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, 0);
}
[data-tt]:hover:before, [data-tt]:focus:before {
  /* Tooltip becomes visible on hover */
  visibility: visible;
  opacity: 1;
  /* Scale & arrow slide effects */
  transform: translateY(-50%, -5px);
}

/* Contact form */
.contact-form input, .contact-form textarea {
  background-color: transparent;
  border: var(--highlight-primary) 1px solid;
  color: var(--text-primary);
  font-family: inherit;
  font-size: 16px;
  padding: 10px 12px;
  margin-bottom: 25px;
}
.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: var(--text-primary);
}

/* Fractals - icon-less compact cards */
.fractal {
  border: var(--bg-secondary) 3px solid;
  border-radius: 5px;
  color: var(--text-primary);
  text-decoration: none;
  margin-bottom: 20px;
  padding: 20px;
  transition-duration: 0.2s;
}
.fractal .fractal-title {
  margin-bottom: 10px;
  line-height: 30px;
}
.fractal h3, .fractal p {
  margin: 0;
}
.fractal .fractal-sublink {
  border: var(--highlight-primary) 1px solid;
  border-radius: 3px;
  color: var(--text-primary);
  padding: 5px;
  line-height: 18px;
  text-decoration: none;
  transition-duration: 0.2s;
  justify-self: flex-end;
}
.fractal .fractal-sublink:first-of-type {
  margin-left: auto;
}
.fractal .fractal-sublink:not(:last-of-type) {
  margin-right: 5px;
}
.fractal .fractal-sublink:hover, .fractal .fractal-sublink:focus {
  background-color: var(--highlight-primary);
}

/* Shard - extensible & flexible cards */
.shard {
  background-image: linear-gradient(135deg, var(--shard-primary), var(--shard-secondary));
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  flex: 1 1;
  height: 400px;
  margin: auto;
  text-align: left;
  position: relative;
  overflow: hidden;
  transition-duration: 0.7s;
}
.shard:not(:last-of-type) {
  margin-right: 25px;
}
.shard h3 {
  background-image: linear-gradient(135deg, var(--shard-tertiary), var(--shard-secondary));
  margin: 0;
  padding: 15px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Poiret One", nunito, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
}
.shard .type {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 12px;
  white-space: nowrap;
}
.shard img {
  animation: 3s ease-in-out infinite alternate floating;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  position: absolute;
  left: 60px;
  top: 0;
  bottom: 30px;
  margin: auto;
  width: 120px;
}
.shard .shard-nested {
  background-color: var(--bg-standard);
  border-radius: 5px;
  color: var(--text-primary);
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  bottom: 20px;
  width: 220px;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.2s;
  transform: scale(0.95);
}
.shard .shard-nested h4 {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 28px;
}
.shard .shard-nested .desc {
  line-height: 26px;
}
.shard:hover, .shard:focus {
  box-shadow: var(--highlight-primary) 0 0 10px;
  outline: none;
  flex: 5 1;
  transform: scale(1.05);
  z-index: 10;
}
.shard:hover img, .shard:focus img {
  animation-play-state: running;
}
.shard:hover .shard-nested, .shard:focus .shard-nested {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  transform: scale(1);
}

.container:hover .shard {
  filter: blur(1px);
}

.shard:hover {
  filter: unset !important;
}

/* Shard style overrides */
.shard-turbo {
  --shard-primary: #f8a;
  --shard-secondary: #ea7;
  --shard-tertiary: #f88;
}

.shard-integration {
  --shard-primary: #a8f;
  --shard-secondary: #c8a;
  --shard-tertiary: #f8f;
}
.shard-integration img {
  left: 30px;
  bottom: 15px;
  width: 180px;
}

.shard-animate {
  --shard-primary: #8af;
  --shard-secondary: #c8f;
  --shard-tertiary: #7ae;
}
.shard-animate img {
  left: 50px;
  bottom: 0;
  width: 140px;
}

/* Social links */
.socials {
  margin-top: 20px;
  justify-content: center;
}
.socials a {
  border: 1px solid var(--text-primary);
  border-radius: 3px;
  color: var(--text-primary);
  text-align: center;
  text-decoration: none;
  line-height: 25px;
  height: 25px;
  width: 25px;
  padding: 5px;
  transition-duration: 0.2s;
}
.socials a:not(:last-of-type) {
  margin-right: 10px;
}
.socials a:hover, .socials a:focus {
  background-color: var(--highlight-secondary);
  border-color: var(--highlight-primary);
}

@media (min-width: 768px) {
  .socials {
    justify-content: flex-start;
  }
}
/* Shared section stylings */
section {
  padding-bottom: 100px;
}
section h2 {
  margin-top: 0;
  padding: 2px;
  border-bottom: 1px solid var(--text-primary);
  width: max-content;
}

.section-details .desc {
  width: 190px;
  text-align: left;
  line-height: 24px;
}
.section-details .content {
  flex: 1 1;
}
@media (min-width: 768px) {
  .section-details .desc {
    padding-right: 60px;
  }
}

@media (min-width: 768px) {
  .section-details-flipped .desc {
    padding-right: 0;
    padding-left: 60px;
    text-align: right;
  }
  .section-details-flipped .container {
    flex-direction: row-reverse;
  }
}

/* First section (About) */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
}
#about #pfp {
  border-radius: 50%;
  width: 260px;
  margin: auto;
  transition-duration: 0.5s;
}
#about #pfp:hover {
  box-shadow: var(--highlight-primary) 0 0 20px;
}
#about #bio {
  text-align: center;
}
#about #bio :nth-child(2) {
  animation: fade-in 1.5s forwards;
  animation-delay: 0ms;
  opacity: 0;
}
#about #bio :nth-child(3) {
  animation: fade-in 1.5s forwards;
  animation-delay: 200ms;
  opacity: 0;
}
#about #bio :nth-child(4) {
  animation: fade-in 1.5s forwards;
  animation-delay: 400ms;
  opacity: 0;
}
#about #bio :nth-child(5) {
  animation: fade-in 1.5s forwards;
  animation-delay: 600ms;
  opacity: 0;
}
#about #bio h1 {
  font-size: 42px;
  font-weight: normal;
  margin: 0;
}
#about #bio p {
  font-size: 18px;
  line-height: 36px;
  font-weight: lighter;
}

@media (min-width: 768px) {
  #about #pfp {
    margin-right: 80px;
  }
  #about #bio {
    text-align: left;
  }
  #about #bio p {
    font-size: 22px;
  }
}
/* Second section (Featured) */
#featured .waves-animation {
  animation: fade-in-up 1s forwards;
  animation-delay: 0.3s;
  opacity: 0;
  overflow: hidden;
  height: 150px;
}
#featured .waves-animation svg {
  animation: bg-fade-in-up 1.5s forwards;
  background-image: url("../img/wave_pink.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  fill: var(--bg-secondary);
}
#featured .content {
  animation: fade-in-up 1s forwards;
  animation-delay: 0.3s;
  opacity: 0;
  background-image: linear-gradient(var(--bg-secondary) 20%, transparent);
  padding: 20px 0;
  text-align: center;
}
#featured .content h2 {
  margin: auto;
  margin-top: 0;
}
#featured .content > div > :nth-child(1) {
  animation: fade-in 1s forwards;
  animation-delay: 500ms;
  opacity: 0;
}
#featured .content > div > :nth-child(2) {
  animation: fade-in 1s forwards;
  animation-delay: 600ms;
  opacity: 0;
}
#featured .content > div > :nth-child(3) {
  animation: fade-in 1s forwards;
  animation-delay: 700ms;
  opacity: 0;
}

/*# sourceMappingURL=site.css.map */
