/* Root styles */
:root {
  --shard-primary: #494ca0;
  --shard-secondary: #292a47;
  --shard-tertiary: #4b3d8f; }

::selection {
  background-color: rgba(0, 170, 255, 0.267); }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #302f65; }

::-webkit-scrollbar-thumb {
  background-color: #b7f; }

/* Shared typography */
a {
  color: #faf; }

a.button {
  border: #b7f 1px solid;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
  line-height: 18px;
  text-decoration: none;
  transition-duration: 0.2s; }
  a.button:not(:last-of-type) {
    margin-right: 5px; }
  a.button:hover, a.button:focus {
    background-color: #b7f; }

.btn {
  background-color: transparent;
  border: #b7f 1px solid;
  border-radius: 2px;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  transition-duration: 0.3s; }
  .btn:hover {
    background-color: #b7f; }

a.btn {
  text-decoration: none; }

/* Layout and typography */
html {
  font-family: nunito, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth; }

body {
  background-color: #182235;
  color: #fff;
  margin: 0;
  min-height: calc(100vh - 200px);
  padding-bottom: 200px;
  position: relative; }

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%; }

.container {
  max-width: 512px;
  margin: auto;
  padding: 0; }
  @media (min-width: 290px) {
    .container {
      padding: 0 20px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 768px; } }

.footer {
  border-top: #f7c 1px solid;
  padding: 30px 20px;
  padding-bottom: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .footer button {
    background-color: transparent;
    border: #b7f 1px solid;
    color: #faf;
    padding: 5px 10px; }

.flex-smart {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .flex-smart {
      flex-direction: row; } }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse; }

/* CSS Animations */
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-up {
  0% {
    transform: translateY(30px);
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes bg-fade-in-up {
  0% {
    background-position-y: 100px; }
  100% {
    background-position-y: 0; } }

@keyframes floating {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-15px); } }

/* CSS tooltips for :hover */
[aria-label] {
  position: relative;
  /* Positioning and visibility */
  /* Dynamic-width tooltip */ }
  [aria-label]:before {
    border: #b7f 1px solid;
    position: absolute;
    bottom: calc(100% + 5px);
    top: auto;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s;
    will-change: transform; }
  [aria-label]:before {
    background-color: #000;
    color: #fff;
    content: attr(aria-label);
    padding: 8px 12px;
    line-height: 18px;
    height: 18px;
    width: max-content;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, 0); }
  [aria-label]:hover:before, [aria-label]:focus:before {
    /* Tooltip becomes visible on hover */
    visibility: visible;
    opacity: 1;
    /* Scale & arrow slide effects */
    transform: translateY(-50%, -5px); }

/* Group of blog entries */
.blog-list-group {
  border: #f7f 1px solid;
  border-radius: 10px;
  padding-top: 20px;
  margin-top: 35px;
  max-width: 512px;
  width: 100%; }
  .blog-list-group h2 {
    margin: 0; }
  .blog-list-group .desc {
    margin: 10px 20px;
    font-size: 0.9rem !important;
    text-align: center !important; }
  .blog-list-group .blog-list li {
    margin: 0 20px;
    margin-top: 10px; }

/* List of blog entries */
.blog-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  max-width: 512px;
  width: 100%; }
  .blog-list li {
    border: #b7f 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px; }
    .blog-list li a {
      display: flex;
      justify-content: space-between;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px; }
    .blog-list li:hover {
      border-color: #f7f; }

/* Contact form */
.contact-form label {
  margin-bottom: 10px; }

.contact-form input, .contact-form textarea {
  background-color: transparent;
  border: #b7f 1px solid;
  color: #eee;
  font-family: inherit;
  font-size: 16px;
  padding: 10px 12px;
  margin-bottom: 25px; }
  .contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #eee; }

.contact-form textarea {
  resize: vertical; }

.contact-form .btn {
  padding: 15px; }

/* Fractals - icon-less compact cards */
.fractal {
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 60px;
  transition-duration: 0.2s; }
  .fractal .fractal-title {
    margin-bottom: 10px;
    line-height: 30px;
    flex-wrap: wrap; }
  .fractal h3, .fractal p {
    margin: 0; }
  .fractal .fractal-sublinks {
    justify-self: flex-end;
    margin-left: auto; }
  .fractal.fractal-bg {
    background-image: linear-gradient(135deg, #494ca0, #4b3d8f);
    margin-bottom: 30px;
    padding: 15px; }
    @media (min-width: 768px) {
      .fractal.fractal-bg {
        padding: 25px; } }

/* Shard - extensible & flexible cards */
.shard {
  background-image: linear-gradient(135deg, var(--shard-primary), var(--shard-secondary));
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  height: 400px;
  width: 280px;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
  transition-duration: 0.7s;
  will-change: contents; }
  .shard h3 {
    background-image: linear-gradient(135deg, var(--shard-tertiary), var(--shard-secondary));
    margin: 0;
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Poiret One", nunito, sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px; }
  .shard .type {
    margin: 0;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 12px;
    white-space: nowrap; }
  .shard img {
    animation: 3s ease-in-out infinite alternate floating;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30px;
    margin: auto;
    height: 200px; }
  .shard .shard-nested {
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    width: 220px;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.2s;
    transform: scale(0.95);
    will-change: transform, opacity, contents; }
    .shard .shard-nested h4 {
      margin: 0;
      font-size: 26px; }
    .shard .shard-nested .desc {
      line-height: 26px; }
    .shard .shard-nested .links {
      position: absolute;
      bottom: 20px;
      left: 20px;
      white-space: nowrap;
      transform: translateY(50px) scale(0.9);
      transition-duration: 0.3s;
      transition-delay: 0.2s; }
    .shard .shard-nested a {
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: 14px; }
  .shard:hover, .shard:focus {
    box-shadow: #c7a 0 0 10px;
    outline: none; }
    .shard:hover img, .shard:focus img {
      animation-play-state: running; }
    .shard:hover .shard-nested, .shard:focus .shard-nested {
      opacity: 1;
      transition-duration: 0.5s;
      transform: scale(1); }
      .shard:hover .shard-nested .links, .shard:focus .shard-nested .links {
        transform: translateY(0) scale(1); }
  .shard:focus-within {
    box-shadow: #c7a 0 0 10px;
    outline: none; }
    .shard:focus-within img {
      animation-play-state: running; }
    .shard:focus-within .shard-nested {
      opacity: 1;
      transition-duration: 0.5s;
      transform: scale(1); }
      .shard:focus-within .shard-nested .links {
        transform: translateY(0) scale(1); }

@media (min-width: 768px) {
  .shard {
    flex: 1 1; }
    .shard img {
      left: 60px;
      right: unset; }
    .shard:not(:last-of-type) {
      margin-right: 25px; }
    .shard .shard-nested {
      transition-delay: 0.2s; }
    .shard:hover, .shard:focus {
      flex: 5 1;
      transform: scale(1.05); }
    .shard:focus-within {
      flex: 5 1;
      transform: scale(1.05); } }

/* Shard style overrides */
.shard-turbo {
  --shard-primary: #f8a;
  --shard-secondary: #ea7;
  --shard-tertiary: #f88; }

.shard-integration {
  --shard-primary: #a8f;
  --shard-secondary: #c8a;
  --shard-tertiary: #f8f; }
  @media (min-width: 768px) {
    .shard-integration img {
      left: 30px;
      bottom: 15px;
      width: 180px; } }

.shard-animate {
  --shard-primary: #8af;
  --shard-secondary: #c8f;
  --shard-tertiary: #7ae; }
  @media (min-width: 768px) {
    .shard-animate img {
      left: 50px;
      bottom: 0;
      width: 140px; } }

/* Social links */
.socials {
  margin-top: 20px;
  justify-content: center; }
  .socials a {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    padding: 5px 10px;
    transition-duration: 0.2s; }
    .socials a:not(:last-of-type) {
      margin-right: 10px; }
    .socials a:hover, .socials a:focus {
      background-color: #b7f;
      border-color: #b7f; }

.socials-fixed a {
  display: block;
  width: 25px;
  height: 25px;
  padding: 5px; }
  .socials-fixed a.focus {
    border-color: #b7f;
    width: unset;
    padding: 5px 10px; }

@media (min-width: 768px) {
  .socials {
    justify-content: flex-start; } }

/* Shared section stylings */
section {
  padding-bottom: 25px; }
  section:not(:first-of-type) {
    padding-top: 35px; }
  section h2 {
    margin: auto;
    margin-top: 0;
    padding: 2px;
    border-bottom: 1px solid #fff;
    width: max-content; }

hr {
  background-color: #f7c;
  border: none;
  border-radius: 3px;
  height: 1px;
  width: 90%;
  margin: auto; }
  @media (min-width: 768px) {
    hr {
      max-width: 768px; } }

.section-details .desc {
  text-align: center;
  line-height: 24px;
  margin-bottom: 30px; }

.section-details .content {
  flex: 1 1; }

@media (min-width: 768px) {
  section {
    padding-bottom: 50px; }
    section:not(:first-of-type) {
      padding-top: 80px; }
    section h2 {
      margin: 0; }
  .section-details .desc {
    width: 190px;
    text-align: left;
    margin-right: 60px; }
    .section-details .desc h2 {
      width: 100%; }
  .section-details-flipped .desc {
    margin-right: 0;
    margin-left: 60px;
    text-align: right; }
    .section-details-flipped .desc h2 {
      width: 100%; }
  .section-details-flipped .container {
    flex-direction: row-reverse; } }

/* First section (About) */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 45vh;
  max-height: 500px; }
  #about #pfp {
    border-radius: 50%;
    width: 200px;
    margin: auto;
    margin-top: 0;
    transition-duration: 0.5s; }
  #about #bio {
    margin-top: 20px;
    text-align: center; }
    #about #bio :nth-child(2) {
      animation: fade-in 1.5s forwards;
      animation-delay: 0ms;
      opacity: 0; }
    #about #bio :nth-child(3) {
      animation: fade-in 1.5s forwards;
      animation-delay: 200ms;
      opacity: 0; }
    #about #bio :nth-child(4) {
      animation: fade-in 1.5s forwards;
      animation-delay: 400ms;
      opacity: 0; }
    #about #bio :nth-child(5) {
      animation: fade-in 1.5s forwards;
      animation-delay: 600ms;
      opacity: 0; }
    #about #bio h1 {
      font-size: 36px;
      font-weight: normal;
      margin: 0; }
    #about #bio p {
      font-size: 14px;
      line-height: 36px;
      font-weight: lighter; }

@media (min-width: 350px) {
  #about #bio p {
    font-size: 18px; } }

@media (min-width: 768px) {
  #about > div {
    padding-top: 150px; }
  #about #pfp {
    width: 260px;
    margin-right: 80px; }
  #about #bio {
    margin-top: 0;
    text-align: left; }
    #about #bio h1 {
      font-size: 42px; }
    #about #bio p {
      font-size: 22px; } }

/* Second section (Featured) */
#featured .waves-animation {
  animation: fade-in-up 1s forwards;
  animation-delay: 0.3s;
  opacity: 0;
  overflow: hidden;
  height: 50px; }
  #featured .waves-animation svg {
    animation: bg-fade-in-up 1.5s forwards;
    background-image: url("../img/wave_pink.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    fill: #302f65; }

#featured .content {
  animation: fade-in-up 1s forwards;
  animation-delay: 0.3s;
  opacity: 0;
  background-image: linear-gradient(#302f65 20%, transparent);
  padding: 20px 0;
  text-align: center; }
  #featured .content h2 {
    margin: auto;
    margin-top: 0; }
  #featured .content > div > :nth-child(1) {
    animation: fade-in 1s forwards;
    animation-delay: 500ms;
    opacity: 0; }
  #featured .content > div > :nth-child(2) {
    animation: fade-in 1s forwards;
    animation-delay: 400ms;
    opacity: 0; }
  #featured .content > div > :nth-child(3) {
    animation: fade-in 1s forwards;
    animation-delay: 300ms;
    opacity: 0; }

@media (min-width: 768px) {
  #featured .waves-animation {
    height: 150px; }
    #featured .waves-animation svg {
      height: 150px; } }

/* About page */
#text-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px; }
  #text-page p {
    font-size: 20px;
    max-width: 512px;
    text-align: justify; }
  #text-page .caption {
    margin: 0; }
  #text-page ul {
    text-align: left; }
    #text-page ul hr {
      width: 100%; }
  #text-page ~ footer {
    text-align: center; }
  @media (min-width: 768px) {
    #text-page {
      padding-top: 120px; } }

#hack #pre {
  width: calc(100% - 40px);
  text-align: right; }

#hack a, #hack code {
  color: #00F2D2;
  font-family: monospace;
  transition-duration: 0.2s; }

#hack a:hover {
  color: #00bfa6; }

#hack hr {
  background-color: #008c79; }

#hack footer {
  border-color: #008c79; }

#hack section:not(:last-of-type) {
  margin-bottom: 60px; }

#hack section .hack-row {
  justify-content: space-between;
  margin-bottom: 20px; }

#hack .hack-title {
  justify-content: space-between; }
  #hack .hack-title #ico {
    display: none; }
  #hack .hack-title #title {
    font-size: 1.3rem;
    text-align: right; }
    #hack .hack-title #title a {
      font-size: 1.1rem; }
    #hack .hack-title #title .btn {
      width: 250px; }
  @media (min-width: 500px) {
    #hack .hack-title #ico {
      display: block;
      width: 200px; }
    #hack .hack-title #title {
      padding-left: 50px; } }
  @media (min-width: 768px) {
    #hack .hack-title #ico {
      width: 300px; }
    #hack .hack-title #title {
      font-size: 1.8rem;
      padding-left: 50px; }
      #hack .hack-title #title a {
        font-size: 1.5rem; }
      #hack .hack-title #title .btn {
        width: 300px; } }

#hack .block {
  background-color: #253451;
  border-radius: 5px;
  flex: 1 1;
  padding: 20px; }
  #hack .block:not(:last-of-type) {
    margin-bottom: 20px; }
  #hack .block.b2-1 {
    flex: 2 1; }
  #hack .block h2 {
    border: none;
    color: #00F2D2;
    font-size: 1.3rem; }
  #hack .block p {
    font-size: 1.1rem;
    line-height: 2rem; }
  @media (min-width: 768px) {
    #hack .block.block-right {
      text-align: right; }
      #hack .block.block-right h2 {
        width: unset; }
    #hack .block:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: 20px; } }

#hack .vertibar h2 {
  text-align: center;
  width: unset; }

#hack .vertibar span {
  font-size: 4.5rem;
  text-align: center; }

#hack #hack-cards :nth-child(0) {
  animation: fade-in 0.8s forwards;
  animation-delay: -150ms;
  opacity: 0; }

#hack #hack-cards :nth-child(1) {
  animation: fade-in 0.8s forwards;
  animation-delay: 0ms;
  opacity: 0; }

#hack #hack-cards :nth-child(2) {
  animation: fade-in 0.8s forwards;
  animation-delay: 150ms;
  opacity: 0; }

#hack #hack-cards :nth-child(3) {
  animation: fade-in 0.8s forwards;
  animation-delay: 300ms;
  opacity: 0; }

#hack #hack-cards :nth-child(4) {
  animation: fade-in 0.8s forwards;
  animation-delay: 450ms;
  opacity: 0; }

#hack #resources {
  text-align: center; }
  #hack #resources h4 {
    margin-top: 10px;
    margin-bottom: 0; }
  #hack #resources a {
    color: #00F2D2;
    margin-top: 12px; }
  @media (min-width: 768px) {
    #hack #resources {
      text-align: left; } }

#hack #cta {
  width: calc(100% - 30px); }

#hack #cta a {
  font-size: 1.2rem;
  text-align: center;
  padding: 15px; }
  #hack #cta a:hover {
    color: #fff; }
