/* List of blog entries */
.blog-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  max-width: 512px;
  width: 100%;
}
.blog-list li {
  border: var(--highlight-primary) 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
}
.blog-list li a {
  display: flex;
  justify-content: space-between;
  color: var(--text-primary);
  text-decoration: none;
}
.blog-list li:hover {
  border-color: var(--highlight-secondary);
}

/* Contact form */
.contact-form label {
  margin-bottom: 10px;
}
.contact-form input, .contact-form textarea {
  background-color: transparent;
  border: var(--highlight-primary) 1px solid;
  color: var(--text-secondary);
  font-family: inherit;
  font-size: 16px;
  padding: 10px 12px;
  margin-bottom: 25px;
}
.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: var(--text-secondary);
}
.contact-form textarea {
  resize: vertical;
}
.contact-form button {
  background-color: transparent;
  border: var(--highlight-primary) 1px solid;
  color: var(--text-primary);
  font-family: inherit;
  font-size: 16px;
  padding: 15px;
  transition-duration: 0.3s;
}
.contact-form button:hover {
  background-color: var(--highlight-primary);
}

/* Fractals - icon-less compact cards */
.fractal {
  border-radius: 5px;
  color: var(--text-primary);
  text-decoration: none;
  margin-bottom: 60px;
  transition-duration: 0.2s;
}
.fractal .fractal-title {
  margin-bottom: 10px;
  line-height: 30px;
  flex-wrap: wrap;
}
.fractal h3, .fractal p {
  margin: 0;
}
.fractal .fractal-sublinks {
  justify-self: flex-end;
  margin-left: auto;
}

/* Shard - extensible & flexible cards */
.shard {
  background-image: linear-gradient(135deg, var(--shard-primary), var(--shard-secondary));
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  height: 400px;
  width: 280px;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
  transition-duration: 0.7s;
}
.shard h3 {
  background-image: linear-gradient(135deg, var(--shard-tertiary), var(--shard-secondary));
  margin: 0;
  padding: 15px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Poiret One", nunito, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
}
.shard .type {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 12px;
  white-space: nowrap;
}
.shard img {
  animation: 3s ease-in-out infinite alternate floating;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 30px;
  margin: auto;
  height: 200px;
}
.shard .shard-nested {
  background-color: var(--bg-standard);
  border-radius: 10px;
  color: var(--text-primary);
  padding: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
  width: 220px;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.2s;
  transform: scale(0.95);
}
.shard .shard-nested h4 {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 26px;
}
.shard .shard-nested .desc {
  line-height: 26px;
}
.shard .shard-nested .links {
  position: absolute;
  bottom: 20px;
  left: 20px;
  white-space: nowrap;
  transform: translateY(50px) scale(0.9);
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}
.shard .shard-nested a {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
}
.shard:hover, .shard:focus {
  box-shadow: var(--box-shadow) 0 0 10px;
  outline: none;
}
.shard:hover img, .shard:focus img {
  animation-play-state: running;
}
.shard:hover .shard-nested, .shard:focus .shard-nested {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1);
}
.shard:hover .shard-nested .links, .shard:focus .shard-nested .links {
  transform: translateY(0) scale(1);
}
.shard:focus-within {
  box-shadow: var(--box-shadow) 0 0 10px;
  outline: none;
}
.shard:focus-within img {
  animation-play-state: running;
}
.shard:focus-within .shard-nested {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1);
}
.shard:focus-within .shard-nested .links {
  transform: translateY(0) scale(1);
}

@media (min-width: 768px) {
  .shard {
    flex: 1 1;
  }
  .shard img {
    left: 60px;
    right: unset;
  }
  .shard:not(:last-of-type) {
    margin-right: 25px;
  }
  .shard .shard-nested {
    transition-delay: 0.2s;
  }
  .shard:hover, .shard:focus {
    flex: 5 1;
    transform: scale(1.05);
  }
  .shard:focus-within {
    flex: 5 1;
    transform: scale(1.05);
  }
}
/* Shard style overrides */
.shard-turbo {
  --shard-primary: #f8a;
  --shard-secondary: #ea7;
  --shard-tertiary: #f88;
}

.shard-integration {
  --shard-primary: #a8f;
  --shard-secondary: #c8a;
  --shard-tertiary: #f8f;
}
@media (min-width: 768px) {
  .shard-integration img {
    left: 30px;
    bottom: 15px;
    width: 180px;
  }
}

.shard-animate {
  --shard-primary: #8af;
  --shard-secondary: #c8f;
  --shard-tertiary: #7ae;
}
@media (min-width: 768px) {
  .shard-animate img {
    left: 50px;
    bottom: 0;
    width: 140px;
  }
}

/* Social links */
.socials {
  margin-top: 20px;
  justify-content: center;
}
.socials a {
  border: 1px solid var(--text-primary);
  border-radius: 3px;
  color: var(--text-primary);
  text-align: center;
  text-decoration: none;
  line-height: 25px;
  padding: 5px 10px;
  transition-duration: 0.2s;
}
.socials a:not(:last-of-type) {
  margin-right: 10px;
}
.socials a:hover, .socials a:focus {
  background-color: var(--highlight-primary);
  border-color: var(--highlight-primary);
}

.socials-fixed a {
  width: 25px;
  height: 25px;
  padding: 5px;
}

@media (min-width: 768px) {
  .socials {
    justify-content: flex-start;
  }
}
/* Shared section stylings */
section {
  padding-bottom: 25px;
}
section:not(:first-of-type) {
  padding-top: 35px;
}
section h2 {
  margin: auto;
  margin-top: 0;
  padding: 2px;
  border-bottom: 1px solid var(--text-primary);
  width: max-content;
}

hr {
  background-color: var(--highlight-tertiary);
  border: none;
  border-radius: 3px;
  height: 1px;
  width: 90%;
  margin: auto;
}
@media (min-width: 768px) {
  hr {
    max-width: 768px;
  }
}

.section-details .desc {
  text-align: center;
  line-height: 24px;
  margin-bottom: 30px;
}
.section-details .content {
  flex: 1 1;
}

@media (min-width: 768px) {
  section {
    padding-bottom: 50px;
  }
  section:not(:first-of-type) {
    padding-top: 80px;
  }
  section h2 {
    margin: 0;
  }

  .section-details .desc {
    width: 190px;
    text-align: left;
    margin-right: 60px;
  }

  .section-details-flipped .desc {
    margin-right: 0;
    margin-left: 60px;
    text-align: right;
  }
  .section-details-flipped .container {
    flex-direction: row-reverse;
  }
}
/* First section (About) */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
}
#about #pfp {
  border-radius: 50%;
  width: 200px;
  margin: auto;
  transition-duration: 0.5s;
}
#about #bio {
  margin-top: 20px;
  text-align: center;
}
#about #bio :nth-child(2) {
  animation: fade-in 1.5s forwards;
  animation-delay: 0ms;
  opacity: 0;
}
#about #bio :nth-child(3) {
  animation: fade-in 1.5s forwards;
  animation-delay: 200ms;
  opacity: 0;
}
#about #bio :nth-child(4) {
  animation: fade-in 1.5s forwards;
  animation-delay: 400ms;
  opacity: 0;
}
#about #bio :nth-child(5) {
  animation: fade-in 1.5s forwards;
  animation-delay: 600ms;
  opacity: 0;
}
#about #bio h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
#about #bio p {
  font-size: 14px;
  line-height: 36px;
  font-weight: lighter;
}

@media (min-width: 350px) {
  #about #bio p {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  #about #pfp {
    width: 260px;
    margin-right: 80px;
  }
  #about #bio {
    margin-top: 0;
    text-align: left;
  }
  #about #bio h1 {
    font-size: 42px;
  }
  #about #bio p {
    font-size: 22px;
  }
}
/* Second section (Featured) */
#featured .waves-animation {
  animation: fade-in-up 1s forwards;
  animation-delay: 0.3s;
  opacity: 0;
  overflow: hidden;
  height: 50px;
}
#featured .waves-animation svg {
  animation: bg-fade-in-up 1.5s forwards;
  background-image: url("../img/wave_pink.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  fill: var(--bg-secondary);
}
#featured .content {
  animation: fade-in-up 1s forwards;
  animation-delay: 0.3s;
  opacity: 0;
  background-image: linear-gradient(var(--bg-secondary) 20%, transparent);
  padding: 20px 0;
  text-align: center;
}
#featured .content h2 {
  margin: auto;
  margin-top: 0;
}
#featured .content > div > :nth-child(1) {
  animation: fade-in 1s forwards;
  animation-delay: 500ms;
  opacity: 0;
}
#featured .content > div > :nth-child(2) {
  animation: fade-in 1s forwards;
  animation-delay: 600ms;
  opacity: 0;
}
#featured .content > div > :nth-child(3) {
  animation: fade-in 1s forwards;
  animation-delay: 700ms;
  opacity: 0;
}

@media (min-width: 768px) {
  #featured .waves-animation {
    height: 150px;
  }
  #featured .waves-animation svg {
    height: 150px;
  }
}
/* About page */
#text-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#text-page p {
  font-size: 20px;
  max-width: 512px;
  text-align: justify;
}
#text-page .caption {
  margin: 0;
}
#text-page ul {
  text-align: left;
}
#text-page ul hr {
  width: 100%;
}
#text-page ~ footer {
  text-align: center;
}
@media (min-width: 768px) {
  #text-page {
    padding-top: 200px;
  }
}

/* Root styles */
:root {
  --bg-primary: #182235;
  --bg-secondary: #302f65;
  --bg-standard: #000;
  --text-primary: #fff;
  --text-secondary: #eee;
  --text-accent: #faf;
  --highlight-primary: #b7f;
  --highlight-secondary: #f7f;
  --highlight-tertiary: #f7c;
  --box-shadow: #c7a;
  --shard-primary: #494ca0;
  --shard-secondary: #292a47;
  --shard-tertiary: #4b3d8f;
}

::selection {
  background-color: rgba(0, 170, 255, 0.267);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight-primary);
}

/* Shared typography */
a {
  color: var(--text-accent);
}

a.button {
  border: var(--highlight-primary) 1px solid;
  border-radius: 3px;
  color: var(--text-primary);
  padding: 5px 10px;
  line-height: 18px;
  text-decoration: none;
  transition-duration: 0.2s;
}
a.button:not(:last-of-type) {
  margin-right: 5px;
}
a.button:hover, a.button:focus {
  background-color: var(--highlight-primary);
}

/* Layout and typography */
html {
  font-family: nunito, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  min-height: calc(100vh - 200px);
  padding-bottom: 200px;
  position: relative;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 512px;
  margin: auto;
  padding: 0;
}
@media (min-width: 290px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.footer {
  border-top: var(--highlight-tertiary) 1px solid;
  padding: 30px 20px;
  padding-bottom: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer button {
  background-color: transparent;
  border: var(--highlight-primary) 1px solid;
  color: var(--text-accent);
  padding: 5px 10px;
}

.flex-smart {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .flex-smart {
    flex-direction: row;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* CSS Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bg-fade-in-up {
  0% {
    background-position-y: 100px;
  }
  100% {
    background-position-y: 0;
  }
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
/* CSS tooltips for :hover */
[aria-label] {
  position: relative;
  /* Positioning and visibility */
  /* Dynamic-width tooltip */
}
[aria-label]:before {
  border: var(--highlight-primary) 1px solid;
  position: absolute;
  bottom: calc(100% + 5px);
  top: auto;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.15s;
  will-change: transform;
}
[aria-label]:before {
  background-color: var(--bg-standard);
  color: var(--text-primary);
  content: attr(aria-label);
  padding: 8px 12px;
  line-height: 18px;
  height: 18px;
  width: max-content;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, 0);
}
[aria-label]:hover:before, [aria-label]:focus:before {
  /* Tooltip becomes visible on hover */
  visibility: visible;
  opacity: 1;
  /* Scale & arrow slide effects */
  transform: translateY(-50%, -5px);
}

/*# sourceMappingURL=site.css.map */
