#featured {
  background-color: inherit;
  border: 5px solid grey;
  float: right;
  height: 100%;
  padding-right: 5vw;
}

#featured ul {
  float: left;
}

.featitem {
  display: block;
  font-size: 1vw;
  padding: 0.5vw;
}

.featitem a {
  background-color: inherit;
  color: black;
  text-decoration: none;
  padding: 0.5vw;
}

.featitem a:hover {
  background-color: #eeeeee;
}
