body {
  background-color: lightblue;
}

h1 {
  color: cornsilk;
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2.5vw;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

div {
  background-color: lavender;
  padding-bottom: 45%;
}
