/* CSS Animations */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bg-fade-in-up {
  0% {
    background-position-y: 100px;
  }
  100% {
    background-position-y: 0;
  }
}

@keyframes floating {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-35px);
  }
}