/* Layout and typography */

html {
  font-family: nunito, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 512px;
  margin: auto;
  padding: 0;

  // Galaxy fold support (280px wide)
  // Probably the most horrendous CSS media query ever
  @media (min-width: 290px) {
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }
}

.footer {
  border-top: var(--highlight-primary) 1px solid;
  margin-top: 60px;
  padding: 30px 20px;
}

.flex-smart {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}