/* Layout and typography */

html {
  font-family: nunito, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-primary;
  color: $text-primary;
  margin: 0;
  min-height: calc(100vh - 200px);
  padding-bottom: 200px;
  position: relative;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 512px;
  margin: auto;
  padding: 0;

  // Galaxy fold support (280px wide)
  // Probably the most horrendous CSS media query ever
  @media (min-width: 290px) {
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }
}

.footer {
  border-top: $highlight-tertiary 1px solid;
  padding: 30px 20px;
  padding-bottom: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  button {
    background-color: transparent;
    border: $highlight-primary 1px solid;
    color: $text-accent;
    padding: 5px 10px;
  }
}

.flex-smart {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}