/* Root styles */

:root {
  --bg-primary: #182235;
  --bg-secondary: #302f65;
  --bg-standard: #000;

  --text-primary: #fff;
  
  --highlight-primary: #faf;
  --highlight-secondary: #f9f;

  --shard-primary: #494ca0;
  --shard-secondary: #292a47;
  --shard-tertiary: #4b3d8f;
}

// Alternate sakura theme
[data-theme="sakura"] {
  --bg-primary: #fff;
  --bg-secondary: #fdf;
  --bg-standard: #fff;

  --text-primary: #333;
  
  --highlight-primary: #faf;

  --shard-primary: #fcf;
  --shard-secondary: #caf;
  --shard-tertiary: #f8f;
}

::selection {
  background-color: #0af4;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight-primary);
}