/* Root styles */

// SASS Variables
$bg-primary: #182235;
$bg-secondary: #302f65;
$bg-standard: #000;

$text-primary: #fff;
$text-secondary: #eee;
$text-accent: #faf;

$highlight-primary: #b7f;
$highlight-secondary: #f7f;
$highlight-tertiary: #f7c;

$box-shadow: #c7a;

$shard-primary: #494ca0;
$shard-secondary: #292a47;
$shard-tertiary: #4b3d8f;

// Shards require the css variable override
:root {
  --shard-primary: #494ca0;
  --shard-secondary: #292a47;
  --shard-tertiary: #4b3d8f;
}

::selection {
  // RGBA for Edge<79 & IE
  background-color: rgba(0, 170, 255, 0.267);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $bg-secondary;
}

::-webkit-scrollbar-thumb {
  background-color: $highlight-primary;
}