/* CSS tooltips for :hover */

[data-tt] {
  position: relative;

  /* Positioning and visibility */
  &:before {
    border: var(--highlight-primary) 1px solid;
    position: absolute;
    bottom: calc(100% + 5px);
    top: auto;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s;
    will-change: transform;
  }

  /* Dynamic-width tooltip */
  &:before {
    background-color: var(--bg-standard);
    color: var(--text-primary);
    content: attr(data-tt);
    padding: 8px 12px;
    line-height: 18px;
    height: 18px;
    width: max-content;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, 0);
  }

  &:hover, &:focus {
    &:before {
      /* Tooltip becomes visible on hover */
      visibility: visible;
      opacity: 1;

      /* Scale & arrow slide effects */
      transform: translateY(-50%, -5px);
    }
  }
}