/* Shared typography */

a {
  color: $text-accent;
}

a.button {
  border: $highlight-primary 1px solid;
  border-radius: 3px;
  color: $text-primary;
  padding: 5px 10px;
  line-height: 18px;
  text-decoration: none;
  transition-duration: 0.2s;

  &:not(:last-of-type) {
    margin-right: 5px;
  }

  &:hover, &:focus {
    background-color: $highlight-primary;
  }
}

.btn {
  background-color: transparent;
  border: $highlight-primary 1px solid;
  border-radius: 2px;
  color: $text-primary;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  transition-duration: 0.3s;

  &:hover {
  background-color: $highlight-primary;
  }
}

a.btn {
  text-decoration: none;
}