::selection {
  background-color: #a6f4;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
}

nav {
  margin-top: 20px;
  height: 50px;
  line-height: 50px;
}

.container {
  padding: 0 15px;
  margin: auto;
}

.links {
  display: none;
  float: right;
}

.brand > img {
  height: 30px;
}

a {
  color: #333;
  text-decoration: none;
}

.link {
  color: #678;
  padding-left: 20px;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 16px;
}

section > div {
  flex: 1 1;
}

.picture-wrapper {
  position: relative;
}

.picture, .picture-border {
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 200px;
}

.picture {
  box-shadow: -6px 5px 4px rgba(0, 0, 0, 0.1);
}

.picture-border {
  animation: 1s picture-border-animation forwards;
  border: 3px solid #f8a;
  height: 266px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.wrapper {
  line-height: 30px;
  text-align: justify;
  padding: 0 5px;
  margin-top: 20px;
}

.text-space-large {
  line-height: 35px;
}

.social-links img {
  border-radius: 5px;
  margin-right: 10px;
  height: 35px;
}

.il {
  display: inline-block;
}

.il img {
  border-radius: 50%;
  width: 30px;
  vertical-align: text-bottom;
}

.projects-list {
  margin-left: auto;
  margin-right: auto;
}

.project {
  display: flex;
  flex-direction: column;
}

.project-left {
  min-width: 300px;
}

.flex-justify {
  display: flex;
  justify-content: space-between;
  width: 280px;
  height: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: #eaeaea;
  margin-top: 100px;
  padding: 25px;
}

footer section {
  margin-top: 0;
}

@keyframes picture-border-animation {
  0% {
    border-color: #f8a;
    opacity: 0;
  }
  100% {
    border-color: #a6f;
    transform: translate(-15px, 15px);
    opacity: 0.8;
  }
}

@media (min-width: 512px) {
  .links {
    display: block;
  }
  .wrapper {
    margin: 0 50px;
    margin-top: 40px;
  }
  .picture, .picture-border {
    width: 300px;
  }
  .picture-border {
    height: 400px;
  }
}

@media (min-width: 768px) {
  section {
    flex-direction: row;
    margin-top: 100px;
    font-size: 18px;
  }
  .wrapper {
    margin-top: 0;
  }
  .project {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1100px;
  }
}