html {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.content {
  width: 70rem;
  margin: auto;
  margin-top: 5rem;
  text-align: justify;
}

.left {
  width: 20rem;
  float: left;
}

#profile {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin-top: 2rem;
}

.contact {
  margin-top: 2rem;
}

.contact img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  float: left;
}

.contact p {
  margin-left: 4rem;
}

.right {
  width: 50rem;
  float: right;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #55f;
}

.project {
  padding: 0.6rem;
  background-color: #eee;
  border-radius: 1rem;
}

.project img {
  border-radius: 25%;
  width: 4rem;
  float: left;
}

.project h3 {
  margin: 0;
  margin-top: 0.4rem;
  margin-left: 5rem;
}

.project p {
  margin: 0.2rem 0rem;
  margin-left: 5rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 12px;
  }
  .content {
    width: 75rem;
  }
  .left {
    width: 75rem;
    margin: auto;
    float: none;
  }
  #profile {
    float: left;
  }
  .contact {
    margin-left: 52rem;
    margin-top: 2.5rem;
  }
  .right {
    width: 75rem;
    margin: auto;
    margin-top: 6rem;
    float: none;
    clear: both;
  }
  .project img {
    width: 5rem;
    height: 5rem;
  }
  .project h3 {
    margin-left: 6rem;
  }
  .project p {
    margin-left: 6rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

@media screen and (max-width: 900px) {
  .content {
    width: 50rem;
  }
  .left {
    width: 50rem;
  }
  .contact {
    margin-left: 28rem;
    margin-top: 2.5rem;
  }
  .right {
    width: 50rem;
  }
  .project img {
    width: 4rem;
    height: 4rem;
  }
  .project h3 {
    line-height: 3.5rem;
  }
  .project p {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .content {
    width: 28rem;
  }
  .left {
    width: 28rem;
  }
  #profile {
    width: 10rem;
    height: 10rem;
  }
  .contact {
    margin-left: 12rem;
    margin-top: 1rem;
  }
  .contact img {
    width: 2rem;
    height: 2rem;
  }
  .contact p {
    margin-left: 3rem;
    font-size: 1.2rem;
  }
  .right {
    width: 28rem;
    margin-top: 3rem;
  }
}
