/* Contact form */

.contact-form {
  label {
    margin-bottom: 10px;
  }

  input, textarea {
    background-color: transparent;
    border: $highlight-primary 1px solid;
    color: $text-secondary;
    font-family: inherit;
    font-size: 16px;
    padding: 10px 12px;
    margin-bottom: 25px;

    &::placeholder {
      color: $text-secondary;
    }
  }

  textarea {
    resize: vertical;
  }

  .btn {
    padding: 15px;
  }
}