/* Contact form */

.contact-form {
  label {
    margin-bottom: 10px;
  }

  input, textarea {
    background-color: transparent;
    border: $highlight-primary 1px solid;
    color: $text-secondary;
    font-family: inherit;
    font-size: 16px;
    padding: 10px 12px;
    margin-bottom: 25px;

    &::placeholder {
      color: $text-secondary;
    }
  }

  textarea {
    resize: vertical;
  }

  button {
    background-color: transparent;
    border: $highlight-primary 1px solid;
    color: $text-primary;
    font-family: inherit;
    font-size: 16px;
    padding: 15px;
    transition-duration: 0.3s;

    &:hover {
      background-color: $highlight-primary;
    }
  }
}