/* Fractals - icon-less compact cards */

.fractal {
  border: var(--bg-secondary) 3px solid;
  border-radius: 5px;
  color: var(--text-primary);
  text-decoration: none;
  margin-bottom: 20px;
  padding: 20px;
  transition-duration: 0.2s;

  .fractal-title {
    margin-bottom: 10px;
    line-height: 30px;
  }

  h3, p {
    margin: 0;
  }

  .fractal-sublink {
    justify-self: flex-end;

    &:first-of-type {
      margin-left: auto;
    }
  }
}