/* Fractals - icon-less compact cards */

.fractal {
  border-radius: 5px;
  color: $text-primary;
  text-decoration: none;
  margin-bottom: 60px;
  transition-duration: 0.2s;

  .fractal-title {
    margin-bottom: 10px;
    line-height: 30px;
    flex-wrap: wrap;
  }

  h3, p {
    margin: 0;
  }

  .fractal-sublinks {
    justify-self: flex-end;
    margin-left: auto;
  }
}