/* Shard - extensible & flexible cards */

.shard {
  background-image: linear-gradient(135deg, var(--shard-primary), var(--shard-secondary));
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  height: 400px;
  width: 280px;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;

  position: relative;
  overflow: hidden;
  transition-duration: 0.7s;
  will-change: contents;

  h3 {
    background-image: linear-gradient(135deg, var(--shard-tertiary), var(--shard-secondary));
    margin: 0;
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Poiret One", nunito, sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
  }

  .type {
    margin: 0;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 12px;
    white-space: nowrap;
  }

  img {
    // This animation jank is a result of CSS
    // not having amazing interop for transitions & animations
    animation: 3s ease-in-out infinite alternate floating;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30px;
    margin: auto;
    height: 200px;
  }

  .shard-nested {
    background-color: var(--bg-standard);
    border-radius: 10px;
    color: var(--text-primary);
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    width: 220px;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.2s;
    transform: scale(0.95);
    will-change: transform, opacity, contents;

    h4 {
      margin-top: 25px;
      margin-bottom: 0;
      font-size: 26px;
    }

    .desc {
      line-height: 26px;
    }

    .links {
      position: absolute;
      bottom: 20px;
      left: 20px;
      white-space: nowrap;

      // Prevent accidental click when
      // the shard is not expanded
      transform: translateY(50px) scale(0.9);
      transition-duration: 0.3s;
      transition-delay: 0.2s;
    }

    a {
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: 14px;
    }
  }

  &:hover, &:focus {
    box-shadow: var(--box-shadow) 0 0 10px;
    outline: none;

    img {
      animation-play-state: running;
    }

    .shard-nested {
      opacity: 1;
      transition-duration: 0.5s;
      transform: scale(1);

      .links {
        transform: translateY(0) scale(1);
      }
    }
  }

  // THANKS EDGE, REALLY LOVE YOU.
  // Edge ignores entire blocks of code if even one of the
  // selectors is invalid. This means focus-within can't be
  // combined with those above.
  &:focus-within {
    box-shadow: var(--box-shadow) 0 0 10px;
    outline: none;

    img {
      animation-play-state: running;
    }

    .shard-nested {
      opacity: 1;
      transition-duration: 0.5s;
      transform: scale(1);

      .links {
        transform: translateY(0) scale(1);
      }
    }
  }
}

@media (min-width: 768px) {
  // Group shard hover effects
  .shard {
    flex: 1 1;

    img {
      left: 60px;
      right: unset;
    }
  
    &:not(:last-of-type) {
      margin-right: 25px;
    }

    .shard-nested {
      transition-delay: 0.2s;
    }
  
    &:hover, &:focus {
      flex: 5 1;
      transform: scale(1.05);
    }

    // See line 121
    &:focus-within {
      flex: 5 1;
      transform: scale(1.05);
    }
  }
}

@import './shards';