/* Shard style overrides */

.shard-turbo {
  --shard-primary: #f8a;
  --shard-secondary: #ea7;
  --shard-tertiary: #f88;
}

.shard-integration {
  --shard-primary: #a8f;
  --shard-secondary: #c8a;
  --shard-tertiary: #f8f;
}

.shard-animate {
  --shard-primary: #8af;
  --shard-secondary: #c8f;
  --shard-tertiary: #7ae;
}