/* Shard style overrides */

.shard-turbo {
  --shard-primary: #f8a;
  --shard-secondary: #ea7;
  --shard-tertiary: #f88;
}

.shard-integration {
  --shard-primary: #a8f;
  --shard-secondary: #c8a;
  --shard-tertiary: #f8f;

  @media (min-width: 768px) {
    img {
      left: 30px;
      bottom: 15px;
      width: 180px;
    }
  }
}

.shard-animate {
  --shard-primary: #8af;
  --shard-secondary: #c8f;
  --shard-tertiary: #7ae;

  @media (min-width: 768px) {
    img {
      left: 50px;
      bottom: 0;
      width: 140px;
    }
  }
}