/* Shard - extensible & flexible cards */

.shard {
  background-image: linear-gradient(135deg, var(--shard-primary), var(--shard-secondary));
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  flex: 1 1;
  height: 400px;
  margin: auto;
  text-align: left;

  position: relative;
  overflow: hidden;
  transition-duration: 0.7s;

  &:not(:last-of-type) {
    margin-right: 25px;
  }

  h3 {
    background-image: linear-gradient(135deg, var(--shard-tertiary), var(--shard-secondary));
    margin: 0;
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Poiret One", nunito, sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
  }

  .type {
    margin: 0;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 12px;
    white-space: nowrap;
  }

  img {
    // This animation jank is a result of CSS
    // not having amazing interop for transitions & animations
    animation: 3s ease-in-out infinite alternate floating;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute;
    left: 60px;
    top: 0;
    bottom: 30px;
    margin: auto;
    width: 120px;
  }

  .shard-nested {
    background-color: var(--bg-standard);
    border-radius: 5px;
    color: var(--text-primary);
    padding: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: 20px;
    width: 220px;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.2s;
    transform: scale(0.95);

    h4 {
      margin-top: 25px;
      margin-bottom: 0;
      font-size: 28px;
    }

    .desc {
      line-height: 26px;
    }
  }

  &:hover, &:focus {
    box-shadow: var(--highlight-primary) 0 0 10px;
    outline: none;
    flex: 5 1;
    transform: scale(1.05);
    z-index: 10;

    img {
      animation-play-state: running;
    }

    .shard-nested {
      opacity: 1;
      transition-duration: 0.5s;
      transition-delay: 0.2s;
      transform: scale(1);
    }
  }
}

// Group shard hover effects
.container:hover .shard {
  filter: blur(1px);
}

.shard:hover {
  filter: unset !important;
}

@import './shards';