/* Social links */

.socials {
  margin-top: 20px;
  justify-content: center;

  a {
    border: 1px solid var(--text-primary);
    border-radius: 3px;
    color: var(--text-primary);
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    padding: 5px 10px;
    transition-duration: 0.2s;

    &:not(:last-of-type) {
      margin-right: 10px;
    } 

    &:hover, &:focus {
      background-color: var(--highlight-primary);
      border-color: var(--highlight-primary);
    }
  }
}

.socials-fixed {
  a {
    width: 25px;
    height: 25px;
    padding: 5px;
  }
}

@media (min-width: 768px) {
  .socials {
    justify-content: flex-start;
  }
}