/* First section (About) */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 55vh;

  #pfp {
    border-radius: 50%;
    width: 260px;
    margin: auto;
    transition-duration: 0.5s;

    &:hover {
      box-shadow: var(--highlight-primary) 0 0 20px;
    }
  }

  #bio {
    @for $i from 0 through 3 {
      :nth-child(#{($i + 2)}) {
        animation: fade-in 1.5s forwards;
        animation-delay: #{$i * 200 }ms;
        opacity: 0;
      }
    }

    margin-top: 20px;
    text-align: center;

    h1 {
      font-size: 42px;
      font-weight: normal;
      margin: 0;
    }
  
    p {
      font-size: 18px;
      line-height: 36px;
      font-weight: lighter;
    }
  }
}

@media (min-width: 768px) {
  #about {
    #pfp {
      margin-right: 80px;
    }

    #bio {
      margin-top: 0;
      text-align: left;

      p {
        font-size: 22px;
      }
    }
  }
}