/* First section (About) */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 45vh;
  max-height: 500px;

  #pfp {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 0;
    transition-duration: 0.5s;
  }

  #bio {
    @for $i from 0 through 3 {
      :nth-child(#{($i + 2)}) {
        animation: fade-in 1.5s forwards;
        animation-delay: #{$i * 200}ms;
        opacity: 0;
      }
    }

    margin-top: 20px;
    text-align: center;

    h1 {
      font-size: 36px;
      font-weight: normal;
      margin: 0;
    }
  
    p {
      font-size: 14px;
      line-height: 36px;
      font-weight: lighter;
    }
  }
}

@media (min-width: 350px) {
  // This really heckin bothered me
  #about #bio p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  #about {
    > div {
      padding-top: 150px;
    }

    #pfp {
      height: 260px;
      width: 260px;
      margin-right: 80px;
    }

    #bio {
      margin-top: 0;
      text-align: left;

      h1 {
        font-size: 42px;
      }

      p {
        font-size: 22px;
      }
    }
  }
}