/* Second section (Featured) */

#featured {
  .waves-animation {
    animation: fade-in-up 1s forwards;
    animation-delay: 0.3s;
    opacity: 0;
    overflow: hidden;
    height: 50px;

    svg {
      animation: bg-fade-in-up 1.5s forwards;
      background-image: url('../img/wave_pink.svg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 50px;
      width: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
      fill: var(--bg-secondary);
    }
  }

  .content {
    animation: fade-in-up 1s forwards;
    animation-delay: 0.3s;
    opacity: 0;
    background-image: linear-gradient(var(--bg-secondary) 20%, transparent);
    padding: 20px 0;
    text-align: center;

    h2 {
      margin: auto;
      margin-top: 0;
    }

    @for $i from 0 through 2 {
      > div > :nth-child(#{($i + 1)}) {
        animation: fade-in 1s forwards;
        animation-delay: #{($i * 100) + 500}ms;
        opacity: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  #featured {
    .waves-animation {
      height: 150px;
  
      svg {
        height: 150px;
      }
    }
  }
}