/* Shared section stylings */

section {
  padding-bottom: 25px;

  &:not(:first-of-type) {
    padding-top: 35px;
  }

  h2 {
    margin: auto;
    margin-top: 0;
    padding: 2px;
    border-bottom: 1px solid var(--text-primary);
    width: max-content;
  }
}

hr {
  background-color:	var(--highlight-tertiary);
  border: none;
  border-radius: 3px;
  height: 1px;
  width: 90%;
  margin: auto;

  @media (min-width: 768px) {
    max-width: 768px;
  }
}

// Reusable details section

.section-details {
  .desc {
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .content {
    flex: 1 1;
  }
}

@media (min-width: 768px) {
  section {
    padding-bottom: 50px;

    &:not(:first-of-type) {
      padding-top: 80px;
    }

    h2 {
      margin: 0;
    }
  }
  
  .section-details {
    .desc {
      width: 190px;
      text-align: left;
      margin-right: 60px;
    }
  }

  .section-details-flipped {
    .desc {
      margin-right: 0;
      margin-left: 60px;
      text-align: right;
    }

    .container {
      flex-direction: row-reverse;
    }
  }
}